/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: monospace;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.active{
    background-color: rgb(60, 73, 187);
}



.active2 a:hover{
    background-color: rgb(60, 73, 187);
}

article {
    font-family: monospace;
    color: black;
    
}

p{
    color: black;
}

.paragraaf1 {
    float: left;
    width: 400px;
}

.paragraaf2 {
    clear: both;
}

.characters{
   float: top;
}


.zweeflinks{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.monicaG{
    background-color: rgb(175, 68, 68);
    margin: 2px;
}

.rachelG{
    background-color: rgb(60, 73, 187);
    clear: both;
}

.phoebeB{
    background-color: rgb(230, 230, 80);
    clear: both;
    margin: 2px;
}

header {
    color: darkgreen;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    height: 200px;
    margin: 10px;
}
.imgshow {
    width: 250px;
    height: 200px; 
    margin: 10px;
    float: left;
}

img.zweefrechts{
    float: right;
    width: 200px;
    height: 300px;
    margin: 10px;
}

.aboutshow{
    margin-top: 10px;
}

.smalltext {
    font-size: 0.7em;
}

.both {
    clear: both;
}

a {
    color: rgb(60, 73, 187);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: darkgreen;
}

.active1{
    background-color: rgb(175, 68, 68);
}

.active1 a:hover{
    background-color: rgb(175, 68, 68);
}

.active2{
    background-color: rgb(60, 73, 187);
}

.active2 a:hover{
    background-color: rgb(60, 73, 187);
}

.active3{
    background-color: rgb(230, 230, 80);
}

.active4{
    background-color: rgb(175, 68, 68);
}