/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: monospace;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    font-family: monospace;
    color: black;
    
}

p{
    color: black;
}

.paragraaf1 {
    float: left;
    width: 400px;
}

.paragraaf2 {
    clear: both;
}

.characters{
   float: top;
}


.zweeflinks{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.rachelG{
    clear: both;
}

.monicaG{
    background-color: rgb(177, 49, 49);
    margin: 2px;
}

.rachelG{
    background-color: rgb(107, 144, 212);
}

header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.imgshow {
    width: 250px;
    height: 200px; 
    margin: 10px;
    float: left;
}

img.zweefrechts{
    float: right;
    width: 200px;
    height: 300px;
}

.aboutshow{
    margin-top: 10px;
}

.smalltext {
    font-size: 0.7em;
}

.both {
    clear: both;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: grey;
}




